*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

.container {
    padding: 1.7% 0;
    max-width: 1440px;
    width: 84%;
    
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    
}


.menu-items ul {
    display: flex;
    align-items: center;
}

.items-left ul li {
    margin-right: 4rem;
}
.items-right ul li {
    margin-left: 4rem;
}

.menu-items {
    margin-left: 4rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* gap: 100%; */
    max-width: 100%;
    flex-grow: 1;
    font-weight: 700;
}

.menu-items li:hover {
    color: var(--dark-violet);
    cursor: pointer;
}

.btn:hover, .menu-items .btn:hover {
    color: white;
    cursor: pointer;
    opacity: 50%;
}




li {
    list-style: none;
}


.logo img{
    width: 100%;
}

header h1 {
    font-size: 5.8rem;
    color: var(--very-dark-blue);
    line-height: 6rem;
    margin-bottom: 0.8rem;
}

header p {
    font-size: 1.6rem;
    color: var(--grayish-violet);
}

.btn {
    font-size: 1.63rem;
    background-color: var(--cyan);
    display: inline-block;
    color: white;
    padding: 3% 10%;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
}

.menu-items li{
    font-size: 1.38rem;
    color: var(--grayish-violet);
}

.menu-items .sign-btn {
    /* min-width: 100%; */
    text-align: center;
    padding: 5px 14px;
    color: white;
 }

 header .start-btn {
     margin: 3rem 0;
 }

 header {
     display: flex;
     justify-content: space-between;
     ;
     /* align-items: center; */
 }
 header {
     position: relative;
     margin: auto;
     padding: 8rem 0;
     margin-bottom: 12rem;
 }
 header img {
     /* height: 95%; */
     /* max-width: 100%; */
     height: 40rem;
     /* flex-basis: 40%; */
     position: absolute;
     right: -19rem;
 }

 .header-img {
     display: flex;
     justify-content: flex-end;
     flex-basis: 50%;
 }

 .header-overview {
     padding : 3rem 0rem;
 }

 .shorten-parent {
     display: flex;
     justify-content: center;
 }

 .shorten  {
     background-image: url(images/bg-shorten-desktop.svg);
     background-color: var(--dark-violet);
     height: auto;
     width: 84%;
     border-radius: 0.6rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 4rem;
     gap: 2rem;
     position: absolute;
     top: -6rem;
     
 }

 

 input, .short-btn {
     height: 4.2rem;
     padding: 0 1.6rem;
     border-radius: 1rem;
 }

 .err-input {
    border: 2.4px solid var(--red);
 }
 
 .err-input::placeholder {
     color: var(--red);
 }

 .input-container{
     flex-grow: 1;
     outline: none;
     position: relative;
 }

 input {
     width: 100%;
     /* margin-bottom: 0.5rem; */
 }

 .error {
     /* display: none; */
     color: var(--red);
     font-size: 1.35rem;
     position: absolute;
     left: 0;
     top: 4.6rem;
 }

 .short-btn {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .shortbtn-container {
     flex-basis: 23%;
 }

 .adv-stats {
     background-color: #f0f1f6;
     position: relative;
     /* padding: 14rem; */
 }

 .adv-header {
     padding: 16rem ;
     text-align: center;
     width: 48%;
     margin: auto;
 }

 .adv-header h2 {
     font-size: 3rem;
     color: var(--very-dark-violet);
     margin-bottom: 1rem;
 }

 .adv-header p {
     font-size: 1.53rem;
     color: var(--grayish-violet);
     font-weight: 500;
     padding-bottom: 1rem;
 }

 .blue-line {
     height: 0.6rem;
     width: 50%;
     background-color:  var(--cyan);
     margin: auto;
 }

 .adv-content {
     display: flex;
     justify-content: space-between;
     flex: 1 0 auto;
     gap: 4rem;
     margin: auto;
     position: relative;
     padding: 0 0 7%;
 }
 .adv-content article {
     background-color: white;
     border-radius: 4px;
     padding: 4.8rem 3.5rem 3.8rem;
     position: relative;
 }
 

 .adv-content article h3 {
     color: var(--very-dark-blue);
     font-weight: 700;
     margin-bottom: 1rem;
     font-size: 2rem;
 }
  
 .adv-content article p {
     color: var(--grayish-violet);
     font-size: 1.3rem;
 }

 .adv-content article img {
     background-color: var(--dark-violet);
     display: inline-block;
     padding: 1.3rem;
     border-radius: 50%;
     width: 6.8rem;
     position: absolute;
     top: -3rem;
 }
 .recog {
   margin-top: -13rem;
 }

 .record {
     margin-top: -9rem;
 }
 .custom {
     margin-top: -5rem;
 }

 .boost {
     text-align: center;
     background-color: var(--dark-violet);
     background-image: url(images/bg-boost-desktop.svg);
     padding: 4rem ;
 }

 .boost h2 {
     color: white;
     font-size: 2.6rem;
     font-weight: 700;
     margin-bottom: 1.3rem;
 }

 .boost .btn {
     padding: 1rem 3rem;
 }

 footer {
    background-color: var(--very-dark-violet);
    
 }
 footer .div {
     display: flex;
     justify-content: space-between;
     color: white;
     margin: auto;
     width: 84%;
     padding: 5rem 0%;
     gap: 10%;
     padding-right: 7%;
 }

 footer li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
     color: var(--gray);
     /* font-size: ; */
 }
 footer h4 {
     margin-bottom: 2rem;
     font-size: 1.7rem;
 }

 .footer-items {
     flex-grow: 1;
     display: flex;
     justify-content: space-between;
 }

 footer .logo {
     flex-basis: 10%;
 }
 footer .icons {
     display: flex;
     justify-content: space-between;
     gap: 20%;
     flex-basis: 10%;
 }

 .cards-column {
     width: 84%;
 }

 .copy-cards {
     padding: 1.3rem;
     position: relative;
     top: 7rem;
     margin-top: 1rem;
     height: auto;
     background-color: white;
     background-image: none;
     font-size: 1.45rem;
     gap: 0rem;
     width: 100%;
     justify-content: space-between;
 }

 .orig-link {
     color: var(--very-dark-violet);
 }

 .copy-link {
     justify-self: flex-end;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 1.7rem;
     width: 50%;
     color: var(--cyan);
     font-weight: 500;
 }
.copy-btn {
    padding: 0.89rem 2.5rem;
    font-size: 1.45rem;
    border-radius: 4px;
}

.copied {
    background-color: var(--dark-violet);
}

 .navig {
    display: none;
}

.navigation .sign-btn, .nav-link, .row, hr {
    /* display: none; */
}

/* media queries */
@media (max-width: 1200px) {
    html {
        font-size: 52.5%;
        scroll-behavior: smooth;
    }
    .header-overview p{
        padding-right: 15rem;
    }
}

@media (max-width: 992px) {
    .header-overview h1 {
        font-size: 5rem;
    }

   .adv-header {
       padding: 16rem 6rem;
   }
   .icon-img img{
    width: 2rem;
}
}

@media (max-width: 790px) {
    .navig {
        display: block;
    }
    .menu-lines {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        cursor: pointer;
    }
     .menu-lines .line {
      display: block;
      height: 0.5rem;
      width: 4.5rem;
      border-radius: 10px;
      background: var(--grayish-violet);
      pointer-events: none;
  }

  .line2{
      margin: 7px 0;
  }

  .menu-items {
      display: none;
  }

  nav .logo {
      padding-top: 7px;
  }
  
  .navigation {
      background-color: var(--dark-violet);
      width: 84%;
      margin: auto;
      padding: 4rem 2.5rem;
      border-radius: 12px;
      position: fixed;
      z-index: 1;
      left: 8%;
      top: -58%;
      /* transform: translateY(-150%); */
      transition: transform 0.5s ease-in-out;
  }
  .nav-link {
      text-align: center;
      font-weight: 700;
      color: white;
      font-size: 2.5rem;
  }

  .navigation .sign-btn {
      width: 100%;
      font-weight: 700;
  }

  .up-link {
      margin-bottom: 3.5rem;
  }

  .down {
      margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
    
   .icon-img img{
       width: 2rem;
   }
    header img {
        height: 33rem;
    }
    .header-overview h1 {
        font-size: 4.3rem;
        /* padding-right: 16rem; */
    }
    .header-overview p {
        font-size: 1.5rem;
        padding-right: 18rem;
    }
}

@media (max-width: 600px) {
header {
        display: flex;
        flex-direction: column;
    }
    .header-overview {
        order: 2;
        text-align: center;
    }
    .header-overview p {
        padding-right: 0;
    }
    header img {
        height: 50rem;
        position: relative;
        order: 1;
    }
    .shorten {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 2rem;
        top: -9rem;
    }
   .input-container {
       width: 100%;
   }
    input {
        /* flex-basis: 90%; */
        padding: 2.6rem;
    }
    .short-btn {
        padding: 2.6rem;
        width: 100%;
    }
    .shortbtn-container {
        /* flex-basis: 30%; */
        width: 100%;
    }
    .error {
        top: 5.8rem;
    }
    .copy-cards {
        top: 7.78rem;
        align-items: flex-start;
        justify-content: center;
        
    }

    .copy-link {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

    }
    .copy-btn {
        width: 100%;
        text-align: center;
        padding: 1.3rem;
    }
    footer .div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .footer-items {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 7rem;
        margin-top: 2rem;
        gap: 1%;
    }

    .footer-items h4 {
        font-size: 2.4rem;
    }
    .footer-items li {
        font-size: 1.4rem;
    }


    .footer-items article {
        margin-top: 3rem;
    }
    footer .icons {
        display: flex;
        justify-content: space-between;
        gap: 20%;
        flex-basis: 40%;
        margin-top: 0rem;
    }
    .icon-div {
       display: flex;
       justify-content: center;
    }
    .icon-img {
        height: 7rem;
    }
    .icon-img img {
        height: 3rem;
        width: 3rem;
    }

    .blue-line {
        display: none;
    }
    .blue-line2 {
        width: 0.6rem;
        height: 7.9rem;
        background-color:  var(--cyan);
        margin: auto;
    }

    .adv-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        margin: auto;
        position: relative;
        padding: 0 0 7.9rem;
    }
      .adv-header {
          padding-bottom: 10rem;
      }
      .recog {
        margin-top: 0rem;
      }
      
      .record {
          margin-top: 0rem;
      }
      .custom {
          margin-top: 0rem;
      } 
      .card-div {
          display: flex;
          justify-content: center;
      }

      .adv-content article {
          text-align: center;
      }

    
}

@media (max-width: 580px) {
  header img {
      height: 48rem;
  }
}

@media (max-width: 540px) {
    header img {
        height: 42rem;
    }
}
@media (max-width: 450px) {
  header img {
      height: 40rem;
  }

  .adv-header {
    padding: 16rem 0rem;
}
}


